.app-component {
	.app-card {
		background: white;
		padding: 1rem;
		border-radius: 0.5rem;
		margin: auto;

		h6 {
			font-size: 1.2rem;
			font-weight: bold;
			color: $info;
			line-height: 1;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}

		.app-section {
			padding: 1rem;
		}
	}
}
