html {
	font-size: 10px;
	word-break: break-word;
	font-family: sans-serif;
}

body {
	background-color: $bg_color;
	font-size: 1.2rem;
	color: transparentize(black, 0.25);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 1rem 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	padding: 5rem;
}

.flex {
	display: flex;
}

.section {
	padding: 1rem;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.card {
	background: white;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: auto;

	h5 {
		font-size: 1.2rem;
		font-weight: bold;
		color: $label_color;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
}

#circle {
	svg {
		display: block;
		width: 100px;
	}
}
