html {
	font-size: 10px;
	word-break: break-word;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	color: $dark;
	background-color: $dark_blue;
	font-size: 1.4rem;
	//color: transparentize(black, 0.25);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1rem 0;
}

h6 {
	font-size: 1.2rem;
}

h5 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.8rem;
}

h3 {
	font-size: 2.6rem;
}

h2 {
	font-size: 3rem;
}

p {
	margin: 0 0 1rem 0;
}

select {
	border: 1px solid $grey;
	padding: 0.75rem 4rem 0.75rem 1rem;
	border-radius: $border_radius;
	appearance: none;
	cursor: pointer;
	background-repeat: no-repeat, repeat;
	background-size: 1.5rem;
	background-position: center right 0.5rem, center;
	background-color: white;
	background-image: url("./assets/img/arrow-down.svg"), linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,242,246,1) 100%);
}

/** Helpers */
.container {
	display: flex;
	flex-wrap: wrap;
	padding: 5rem 1rem;
}

.flex {
	display: flex;
}

.section {
	padding: 1rem;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-1 {
	margin-bottom: 0.5rem !important;
}

.mb-2 {
	margin-bottom: 1rem !important;
}

.mt-2 {
	margin-top: 1rem !important;
}

.opacity-75 {
	opacity: 0.75;
}

.opacity-50 {
	opacity: 0.5;
}

.small {
	font-size: 0.85em;
}

.grow-1 {
	flex-grow: 1;
	flex-basis: 0;
}

.align-items-center {
	align-items: center;
}

.lighter {
	font-weight: lighter;
}

.text-left {
	text-align: left;
}

/** Elements */
.card {
	background: #ffffff;
	padding: 1rem;
	border-radius: $border_radius;
	margin: auto;
	max-width: 375px;

	.label {
		//font-weight: 600;
		color: $blue;
		text-transform: uppercase;
	}

	.info {
		.tabs {
			display: flex;
			gap: 0.5rem;

			.tab {
				background-color: $light;
				border-radius: $border_radius;
				padding: 1rem 0.5rem;
				text-align: center;
				flex-grow: 1;
				flex-basis: 0;
			}
		}
	}
}

#circle {
	position: relative;
	margin-right: 1.5rem;

	.svg {
		svg {
			display: block;
			width: 100px;
		}
	}

	.info {
		position: absolute;
		width: 100%;
		text-align: center;
		bottom: 0.5rem;
	}
}

.list {
	.item {
		width: 100%;
		border: 0;
		background-color: #ffffff;
		padding: 1.25rem;
		border-radius: $border_radius;
		display: flex;
		align-items: center;
		gap: 1.25rem;
		box-shadow: 0 0 0.5rem -0.2rem $dark_grey;
		margin-top: 0.25rem;
		font-size: 1.6rem;

		.count {
			color: $dark_grey;
			border: 1px solid $dark_grey;
			border-radius: 3rem;
			padding: 0.5rem 0.9rem;
			line-height: 1;
			font-weight: bold;
		}

		.icon {
			$size: 1.25rem;
			width: $size;
			height: $size;
			border-radius: $size;
			background-color: $grey;
		}

		&:hover {
			cursor: pointer;
			background-color: $dark_grey;
			color: $white;

			.count {
				color: $white;
				border-color: $white;
			}
		}

		&.active {
			.count {
				color: $green;
				border-color: $green;
			}

			.icon {
				$size: 2rem;
				width: $size;
				height: $size;
				background-color: $transparent;
				background-image: url("assets/img/arrow-up-green.svg");
				background-repeat: no-repeat;
				border-radius: 0;
				background-position: center;
				background-size: contain;
			}

			&:hover {
				background-color: $green;

				.count {
					color: $white;
					border-color: $white;
				}

				.icon {
					background-image: url("assets/img/arrow-up-white.svg");
				}
			}
		}
	}
}
