$blue: #4990e2;
$dark_blue: #282c4c;
$light: #F9F9FB;
$dark: #000000;
$grey: #dfe3e9;
$dark_grey: #A0A6AE;
$green: #0DBF6D;
$transparent: transparentize(#ffffff, 1);
$white: #ffffff;

$border_radius: 0.5rem;
