/** Bootstrap colors overrides */
$primary: #4d41c2;

/** Colors */
$transparent: transparentize(white, 1);

$custom-colors: (
	"primary": $primary,

	// Custom
);

$enable-negative-margins: true;

$link-decoration: none;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$theme-colors: map-merge($theme-colors, $custom-colors);
